# Python & PyTorch cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
env/
venv/
ENV/

# Local backup folder for member PRs
temp_member_files/

# IDEs
.vscode/
.idea/
*.swp

# OS generated
Thumbs.db
DS_Store
